<h1>"<%= @hold.record.name %>" has been reserved.</h1>

<p>
Hold placed on "<%= @hold.record.name %>".<br/>
beginning <%= @hold.begins_on.to_date %><br/>
ending <%= @hold.expires_on.to_date %><br/>
</p>

<p>
Please mail as soon as you can,<br/>
using address:
</p>

<pre><code>
<%= @hold.member.name %> <%= @hold.member.surname %>
<%= @hold.member.address %>
</code></pre>